<div class="container-fluid">

    <h2 class="mb-4">
        Dashboard
    </h2>

    <div class="row">

        <div class="col-md-3 mb-3">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h6>Total Books</h6>
                    <h2>{{ dashboardData.total_books }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h6>Members</h6>
                    <h2>{{ dashboardData.total_members }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h6>Issued</h6>
                    <h2>{{ dashboardData.issued_books }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h6>Fine</h6>
                    <h2>₹{{ dashboardData.total_fine }}</h2>
                </div>
            </div>
        </div>

    </div>

    <div class="card shadow mt-4">

        <div class="card-header fw-bold">
            Recent Transactions
        </div>

        <div class="card-body">

            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Book</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let transaction of recentTransactions">

                        <td>{{ transaction.member__name }}</td>
                    
                        <td>{{ transaction.book__title }}</td>
                    
                        <td>
                            <span
                                class="badge"
                                [class.bg-success]="transaction.status=='RETURNED'"
                                [class.bg-warning]="transaction.status=='ISSUED'"
                                [class.bg-danger]="transaction.status=='OVERDUE'">
                    
                                {{ transaction.status }}
                    
                            </span>
                        </td>
                    
                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>