<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100" style="width:250px;position:fixed;">

    <h3 class="text-center mb-4">
        📚 LibraryPro
    </h3>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">

        <li class="nav-item mb-2">
            <a routerLink="/dashboard" class="nav-link text-white">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li class="mb-2">
            <a routerLink="/books" class="nav-link text-white">
                <i class="bi bi-book"></i>
                Books
            </a>
        </li>

        <li class="mb-2">
            <a routerLink="/members" class="nav-link text-white">
                <i class="bi bi-people"></i>
                Members
            </a>
        </li>

        <li class="mb-2">
            <a routerLink="/transactions" class="nav-link text-white">
                <i class="bi bi-arrow-repeat"></i>
                Transactions
            </a>
        </li>

        <li class="mb-2">
            <a routerLink="/issue-book" class="nav-link text-white">
                <i class="bi bi-plus-circle"></i>
                Issue Book
            </a>
        </li>

        <li class="mb-2">
            <a routerLink="/return-book" class="nav-link text-white">
                <i class="bi bi-arrow-return-left"></i>
                Return Book
            </a>
        </li>

    </ul>

</div>